@{
	ViewData["Title"] = "500 - 内部服务器错误";
}

<div class="container, text-center" style="margin-top:3rem">
	<h1>HTTP 500</h1>
	<h1>Internal Server Error</h1>
	<p style="font-size:1.3rem">Aaaaa, Soooooooooooooooooooooooooooooooorrrrrrrrrrrrry, but here are some related results that may be helpful.</p>
	<img aria-label="Error!" src="~/Images/DontStop.svg" alt="Don't Stop" />
</div>

<div style="background-color:white; position:fixed; bottom:0px; z-index:1">
	<audio id="404audio" controls volume="0.5" style="float:left;" aria-label="Background Music">
		<source src="~/Audio/Error.mp3" type="audio/ogg">
	</audio>
	<script>
		document.getElementById("404audio").volume = 0.3;
	</script>
</div>




