@{
	ViewData["Title"] = "404 - 内容未找到";
}

<div class="container, text-center" style="margin-top:3rem">
	<h1>HTTP 404</h1>
	<h1> Error! Page Not Found.</h1>
	<p style="font-size:1.3rem">Hmm, we couldn't find this page, but here are some related results that may be helpful.</p>
	<p style="font-size: 128rem;margin-top:-55rem">?</p>
</div>