@model WebApplication2.Models.Reader

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReaderName" class="control-label"></label>
                <input asp-for="ReaderName" class="form-control" />
                <span asp-validation-for="ReaderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReaderPassword" class="control-label"></label>
                <input asp-for="ReaderPassword" class="form-control" />
                <span asp-validation-for="ReaderPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReaderTypeId" class="control-label"></label>
                <select asp-for="ReaderTypeId" class ="form-control" asp-items="ViewBag.ReaderTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReaderStatusId" class="control-label"></label>
                <select asp-for="ReaderStatusId" class ="form-control" asp-items="ViewBag.ReaderStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReaderGenderId" class="control-label"></label>
                <select asp-for="ReaderGenderId" class ="form-control" asp-items="ViewBag.ReaderGenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReaderPhonenumber" class="control-label"></label>
                <input asp-for="ReaderPhonenumber" class="form-control" />
                <span asp-validation-for="ReaderPhonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReaderEmail" class="control-label"></label>
                <input asp-for="ReaderEmail" class="form-control" />
                <span asp-validation-for="ReaderEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReaderDepartment" class="control-label"></label>
                <input asp-for="ReaderDepartment" class="form-control" />
                <span asp-validation-for="ReaderDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReaderRegisterDate" class="control-label"></label>
                <input asp-for="ReaderRegisterDate" class="form-control" />
                <span asp-validation-for="ReaderRegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReaderPhoto" class="control-label"></label>
                <input asp-for="ReaderPhoto" class="form-control" />
                <span asp-validation-for="ReaderPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
