@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
	<li class="nav-item">
		<a class="nav-link  text-dark" asp-area="" asp-controller="Account" asp-action="Index">
			@UserManager.GetUserName(User)
		</a>
	</li>
}
else
{
    <li class="nav-item">
	    <a class="nav-link text-dark" id="login" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
