@{
	ViewData["Title"] = "403 - 李在赣神魔";
}

<div class="container text-center" style="margin-top:3rem">
	<h1>HTTP 403</h1>
	<h1> Error! Access is Denied.</h1>
	<p style="font-size:1.3rem">Well, Lee's in the JiangXi of gods and magic?, do something else. </p>
	<iframe name="李在赣神魔" width="480" height="270"  src="//player.bilibili.com/player.html?aid=97559993&bvid=BV1eE411P7Sh&cid=166540160&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
</div>