@model WebApplication3.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" />
            <div class="form-group">
                <label asp-for="BookCode" class="control-label"></label>
                <input asp-for="BookCode" class="form-control" />
                <span asp-validation-for="BookCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookNameSub" class="control-label"></label>
                <input asp-for="BookNameSub" class="form-control" />
                <span asp-validation-for="BookNameSub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookIsbn" class="control-label"></label>
                <input asp-for="BookIsbn" class="form-control" />
                <span asp-validation-for="BookIsbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookClccode" class="control-label"></label>
                <input asp-for="BookClccode" class="form-control" />
                <span asp-validation-for="BookClccode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookStatusId" class="control-label"></label>
                <select asp-for="BookStatusId" class="form-control" asp-items="ViewBag.BookStatusId"></select>
                <span asp-validation-for="BookStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor" class="control-label"></label>
                <input asp-for="BookAuthor" class="form-control" />
                <span asp-validation-for="BookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPublisher" class="control-label"></label>
                <input asp-for="BookPublisher" class="form-control" />
                <span asp-validation-for="BookPublisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPressDate" class="control-label"></label>
                <input asp-for="BookPressDate" class="form-control" />
                <span asp-validation-for="BookPressDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookLanguageId" class="control-label"></label>
                <select asp-for="BookLanguageId" class="form-control" asp-items="ViewBag.BookLanguageId"></select>
                <span asp-validation-for="BookLanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPages" class="control-label"></label>
                <input asp-for="BookPages" class="form-control" />
                <span asp-validation-for="BookPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPrice" class="control-label"></label>
                <input asp-for="BookPrice" class="form-control" />
                <span asp-validation-for="BookPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPurchaseDate" class="control-label"></label>
                <input asp-for="BookPurchaseDate" class="form-control" />
                <span asp-validation-for="BookPurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookBrief" class="control-label"></label>
                <input asp-for="BookBrief" class="form-control" />
                <span asp-validation-for="BookBrief" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCover" class="control-label"></label>
                <input asp-for="BookCover" class="form-control" />
                <span asp-validation-for="BookCover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

